.panel-edit-basicInfo {
  margin: 30px;
  width: 1100px;
  display: flex;
  flex-direction: column;

}

.panel-edit-basicInfo form{
  display: flex;
  flex-direction: column;
}

.panel-edit-basicInfo form input {
  width: 500px;
  margin: 15px 0;
}

.panel-edit-basicInfo form button {
  width: 500px;
  height: 60px;
  margin: 15px 0;
  background-color: rgb(0, 195, 255);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
}

.panel-preview-basicInfo {
  margin: 30px;
  width: 1100px;
  display: flex;
}

img {
  width: 200px;
  height: 200px;
  background-color: red;
  margin: 50px 80px 70px 80px;
}

.preview-name {
  margin: 35px 40px 0 0;
  font-size: 90px;
  font-weight: bold;
  color: rgb(0, 195, 255);
}

.preview-contact {
  font-size: 20px;
}
